SERVICE_NAME=
SERVICE_PORT=127.0.0.1:1972
ENVIRONMENT=dev

MARIADB_ADDRESS=
MARIADB_PORT=
MARIADB_USERNAME=
MARIADB_PASSWORD=
MARIADB_DBNAME=

MONGODB_ADDRESS=
MONGODB_PORT=
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_DBNAME=

REDIS_ADDRESS=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DBNAME=